<nav class="site-navigation" role="navigation">
    <div class="content-container xxl">
        <div class="navigation-content">
            <div class="odin-main">
                <a class="odin-logo">K Essencials</a>
                <div class="odin-links">
                    <a class="odin-link">Home</a>
                    <a class="odin-link">About</a>
                </div>          
            </div>
            <div class="odin-aside">
                <p>(1800)-88-66-991</p>
            </div>
        </div>    
    </div>
</nav>