
<nav class="site-navigation" role="navigation">
<button class="thor-offcanvas">
    <div class="thor-bar"></div>
    <div class="thor-bar"></div>
    <div class="thor-bar"></div>
</button>

<nav class="main-navigation" role="navigation">
    <div class="content-container xxl">
        <div class="odin-navigation">
            <div class="odin-main">
                <a class="odin-logo">K Essencials</a>
                <div class="odin-links">
                    <a class="odin-link">Home</a>
                    <a class="odin-link">Shop</a>
                    <a class="odin-link">About</a>
                </div>
            </div>    
            <div class="odin-aside">
                <a class="odin-link">
                    <img class="odin-svg" src="{{ "/assets/svg/search-black-24dp.svg" | relative_url }}">
                </a>
                <a class="odin-link">
                    <img class="odin-svg" src="{{ "/assets/svg/shopping_cart-black-24dp.svg" | relative_url }}">
                </a>
            </div>            
        </div>    
    </div>
</nav>
    
</nav>