<footer class="site-footer" role="contentinfo">
    <div class="content-container xxl">
        <div class="underking-upper">
            <div class="underking-column">
                <a>About us</a>
                <a>Shipping & Returns</a>
                <a>Terms & Conditions</a>
                <a>Contact</a>
            </div>            
            <div class="underking-column">
                <h5 class="underking-heading">Questions?</h5>
                <a>info@k-essencials.com</a>
                <a>(000) 000-0000</a>
            </div>
            <div class="underking-column">
                <h5 class="underking-heading">Section 03</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div> 
            <div class="underking-column">
                <h5 class="underking-heading">Section 04</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="underking-column">
                <h5 class="underking-heading">K Essencials</h5>
                <p>Slogan or tagline here.</p>
            </div>            
        </div>
        <div class="underking-lower">
            <p class="underking-copyright">© 2021 K Essencials</p>
            <div class="underking-aside">
                <a class="underking-link">
                    <img class="underking-svg" src="{{ "/assets/svg/facebook-black-24dp.svg" | relative_url }}">
                </a>
                <a class="underking-link">
                    <img class="underking-svg" src="{{ "/assets/svg/instagram-black-24dp.svg" | relative_url }}">
                </a>
            </div> 
        </div>
    </div>
</footer>