<footer class="site-footer" role="contentinfo">
    <div class="content-container xxl">
        <div class="underking-lower">
            <p class="underking-copyright">© 2021 K Essencials</p>
            <div class="underking-aside">
                <a class="underking-link">
                    <img class="underking-svg" src="{{ "/assets/svg/facebook-black-24dp.svg" | relative_url }}">
                </a>
                <a class="underking-link">
                    <img class="underking-svg" src="{{ "/assets/svg/instagram-black-24dp.svg" | relative_url }}">
                </a>
            </div> 
        </div>
    </div>
</footer>