---
layout: default
title: Home
---
<main class="surface-container">
    {% include globals/site-banner.html %}
    
    <header class="hero-banner" role="banner">

        {% include globals/site-navigation.html %}

        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img src="{{ "/public/img/products/b_01.png" | relative_url }}">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ "/public/img/products/b_02.png" | relative_url }}">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ "/public/img/products/b_03.png" | relative_url }}">
                    </li>                    
                </ul>
            </div>
        </div>
        
    </header>    
    
    <section class="surface-content">
        <div class="content-container xxxl">
            
            <div class="home-products">
                <header class="products-header">
                    <div class="text-limiter">
                        <h4 class="products-heading">Our Products</h4>
                        <p>
                            Our products are essential components of modern life. They encompass an incredibly wide range of products with nearly limitless everyday uses from hygiene, handling safety, and product protection to providing a clean and livable environment.
                        </p>
                    </div>    
                </header>
                
                <h2 class="products-grid-heading">Dishwashing Liquids (250mL)</h2>
                <div class="products-grid">
                    <div>
                        <img class="product" src="{{ "/public/img/products/250ml_dl_c.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Calamansi Dishwashing Liquid (250mL)</h3>

                    </div>

                    <div>
                        <img class="product" src="{{ "/public/img/products/250ml_dl_cb.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Cherry Blossom Dishwashing Liquid (250mL)</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/250ml_dl_l.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Lemon Dishwashing Liquid (250mL)</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/250ml_dl_o.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Orange Dishwashing Liquid (250mL)</h3>

                    </div>                    
                </div>
                    
                    <h2 class="products-grid-heading">Dishwashing Liquids (500mL)</h2>
                <div class="products-grid">
                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_dl_c.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Calamansi Dishwashing Liquid (500mL)</h3>

                    </div>

                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_dl_cb.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Cherry Blossom Dishwashing Liquid (500mL)</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_dl_l.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Lemon Dishwashing Liquid (500mL)</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_dl_o.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Orange Dishwashing Liquid (500mL)</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_dl_ob.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Ocean Breeze Dishwashing Liquid (500mL)</h3>

                    </div>                    
                </div>                    
                
                    <h2 class="products-grid-heading">Dishwashing Liquids (1L)</h2>
                <div class="products-grid">
                    <div>
                        <img class="product" src="{{ "/public/img/products/1l_dl_c.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Calamansi Dishwashing Liquid (1L)</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/1l_dl_l.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Lemon Dishwashing Liquid (1L)</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/1l_dl_o.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Orange Dishwashing Liquid (1L)</h3>

                    </div>                    
                </div>                    
                
                    <h2 class="products-grid-heading">Dishwashing Liquids (1G)</h2>
                <div class="products-grid">
                    <div>
                        <img class="product" src="{{ "/public/img/products/1g_dl_c.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Calamansi Dishwashing Liquid (1G)</h3>

                    </div>
       
                    <div>
                        <img class="product" src="{{ "/public/img/products/1g_dl_l.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Lemon Dishwashing Liquid (1G)</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/1g_dl_o.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Orange Dishwashing Liquid (1G)</h3>

                    </div>                    
                </div>
                    
                    <h2 class="products-grid-heading">Dishwashing Liquids (PET Bottle)</h2>
                <div class="products-grid">
                    <div>
                        <img class="product" src="{{ "/public/img/products/pt_dl_c.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Calamansi Dishwashing Liquid</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/pt_dl_l.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Lemon Dishwashing Liquid</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/pt_dl_o.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Orange Dishwashing Liquid</h3>

                    </div>                    
                </div>                    
                    
                    <h2 class="products-grid-heading">Handsoaps</h2>
                <div class="products-grid">
                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_hdsp_cb.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Cherry Blossom Handsoap</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_hdsp_ga.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Green Apple Handsoap</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_hdsp_nf.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Nature's Fresh Handsoap</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_hdsp_p.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Papaya Handsoap</h3>

                    </div>                    
                </div>
                    
                    <h2 class="products-grid-heading">Handsoaps</h2>
                <div class="products-grid">
                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_hdsp_cw.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Cool Waters Handsoap</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_hdsp_cm.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Cucumber Melon Handsoap</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_hdsp_sc.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Strawberry Champagne Handsoap</h3>

                    </div>                 
                </div>
                
                <h2 class="products-grid-heading">Fabric Softeners</h2>
                <div class="products-grid">
                    <div>
                        <img class="product" src="{{ "/public/img/products/fs_cs.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Comfort Scent Fabric Softener</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/fs_ps.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Passion Scent Fabric Softener</h3>

                    </div>                 
                </div>

                <h2 class="products-grid-heading">Fabric Softeners (1G)</h2>
                <div class="products-grid">
                    <div>
                        <img class="product" src="{{ "/public/img/products/1g_fs_cs.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Comfort Scent Fabric Softener (1G)</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/1g_fs_ps.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Passion Scent Fabric Softener (1G)</h3>

                    </div>                 
                </div>
                
                <h2 class="products-grid-heading">Fabric Softeners (PET Bottle)</h2>
                <div class="products-grid">
                    <div>
                        <img class="product" src="{{ "/public/img/products/pt_fs_cs.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Comfort Scent Fabric Softener</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/pt_fs_ps.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Passion Scent Fabric Softener</h3>

                    </div>                 
                </div>
                <h2 class="products-grid-heading">Ethyl Alcohol (1G)</h2>
                <div class="products-grid">
                    <div>
                        <img class="product" src="{{ "/public/img/products/1g_ea.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Ethyl Alcohol (1G)</h3>

                    </div>               
                </div>

                <h2 class="products-grid-heading">Hand Sanitizers</h2>
                <div class="products-grid">
                    <div>
                        <img class="product" src="{{ "/public/img/products/500ml_abhs.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Anti-bacterial Hand Sanitizer (500mL)</h3>

                    </div>
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/1l_abhs.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Anti-bacterial Hand Sanitizer (1L)</h3>

                    </div>

                    <div>
                        <img class="product" src="{{ "/public/img/products/is_kc.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Isopropyl Alcohol Keychain</h3>

                    </div>  
                    
                    <div>
                        <img class="product" src="{{ "/public/img/products/is_sm.png" | relative_url }}">
                        <h3 class="product-title">K Essencials Isopropyl Alcohol (60mL)</h3>

                    </div>                     
                </div>                
            </div>
        </div>   
    </section>    
    
    {% include globals/site-footer.html %}
</main>

<script src="{{ "/assets/js/vendor/splide.min.js" | relative_url }}"></script>
<script>
    new Splide( '.splide', {
        type: 'loop',
        heightRatio: 0.36,
        breakpoints: {
            768: {
                heightRatio: 0.8,
            },
        },        
        cover: true,
    } ).mount();
</script>
