---
layout: default
title: Home
---
<main class="surface-container">
    {% include globals/site-banner.html %}
    
    {% include globals/site-navigation.html %}   
    
    <section class="surface-content">
        <div class="home-products">
            <div class="content-container xl">
                <h4>Our Products</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mauris nibh, consectetur id viverra eu, pulvinar sed felis. Aenean consequat velit eu enim dapibus, a convallis massa imperdiet. Nunc sed posuere justo, ut consectetur tortor.
                </p>
            </div>
        </div>    
    </section>
    
    {% include globals/site-footer.html %}
</main>

<script src="{{ "/assets/js/vendor/splide.min.js" | relative_url }}"></script>
