*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }  
}

body {
    margin: 0;
    font-family: $font-primary;
    font-size: rem(16px);
    font-weight: 400;
    line-height: 1.5;
    color: #212121;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.surface-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;  
}

.surface-content {
    flex: 1;
}

.content-container {
  width: 100%;
  padding-right: space(1);
  padding-left: space(1);
  margin-right: auto;
  margin-left: auto;
}

.content-container.sm {
    max-width: 540px;
}

.content-container.md {
    max-width: 720px;    
}

.content-container.lg {
    max-width: 960px;
}

.content-container.xl {
    max-width: 1140px;
}

.content-container.xxl {
    max-width: 1320px;  
}