.site-navigation {
    display: flex;
    flex-flow: row nowrap;
    padding: space(.25) 0;
    margin-bottom: space(2);
    background-color: #0a472e;
    color: #fff;
}

.navigation-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;    
}

.odin-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.odin-logo {
    font-size: rem(20px);
    font-weight: 500;
    margin-right: space(1);
}

.odin-links{
    display: flex;
    visibility: visible;
    flex-flow: row nowrap;
}

.odin-link {
    margin-right: space(1);
    font-size: rem(14px);
    font-weight: 500;
}

.odin-link:last-child {
    margin-right: 0;
}

.odin-aside {
    display: flex;
    flex-flow: row nowrap;    
}

.odin-svg {
    vertical-align: middle;
}
