.site-navigation {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #eee;
    margin-bottom: space(2);      
}

.main-navigation {
    flex: 1;
    padding: space(.75) 0;  
}

.odin-navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.odin-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.odin-logo {
    font-size: rem(20px);
    font-weight: 500;
}

.odin-links{
    display: none !important;
    visibility: hidden;
}

@media (min-width: 768px) {
    .odin-links{
        margin-left: space(1);
        display: flex;
        flex-flow: row nowrap;
    }
}

.odin-link {
    margin-right: space(1);
    font-size: rem(14px);
}

.odin-link:last-child {
    margin-right: 0;
}

.odin-aside {
    display: flex;
    flex-flow: row nowrap;    
}

.odin-svg {
    vertical-align: middle;
}

.thor-offcanvas {
    display: block;
    border: 0;
    padding: 0 rem(18px);
    border-right: 1px solid #eee;
    background-color: #fff;
}

@media (min-width: 768px) {
    .thor-offcanvas {
        display: none !important; 
        visibility: hidden;
    }
}

.thor-bar {
    height: 3px;
    width: 24px;
    margin-bottom: 4px;
    background-color: #212121;
}

.thor-bar:last-child {
    margin: 0;
}